<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>API_BASE_URL</key>
    <string>http://192.168.1.43:4003</string>
    <key>GRAPHQL_ENDPOINT</key>
    <string>http://192.168.1.43:4003/graphql</string>
    <key>WS_ENDPOINT</key>
    <string>ws://192.168.1.43:4003/graphql</string>
    <key>TIMEOUT_INTERVAL</key>
    <integer>30</integer>
    <key>SCANNER_DELAY</key>
    <real>2.0</real>
    <key>VIBRATION_ENABLED</key>
    <true/>
    <key>SOUND_ENABLED</key>
    <true/>
</dict>
</plist>